@model UserRole

<h3>Add User To Role</h3>
<form asp-action="AddUserToRole" method="post">
    <select asp-items=@Model.Users name="userId"></select>
    <select asp-items=@Model.Roles name="roleId"></select>
    <button type="submit">Add</button>
</form>

<div>@ViewBag.SuccessMessage</div>